<div class="jumbotron mt-4">
    <hr>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima eos consequuntur quas esse quibusdam amet est ut corrupti non. Laboriosam aspernatur quasi velit beatae facilis id sed iusto. Perferendis?</h3>
</div>